
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;

}
main {
  padding-left: 0px;

}
@media (max-width: 400px) {
.main{


  }
}


.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
/* overflow-y: auto; */
.sidebar{
  background: rgb(0, 7, 61);
  color: white;
  height: 100vh;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
  position: fixed;
 z-index: 99;
 
}
  /* media queries */
  @media (max-width: 400px) {
    .sidebar{
  position: fixed;
  height: 100vh;
    }
  }

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  margin-top: 45px;
 margin-left: 32px;
  font-size: 15px;
  line-height: 0;
  text-align: center;
}
.logo-text{
  font-size: 1.rem;
  text-align: center;
  margin-top:35px;
  margin-left:px;
}
.bars {
  width:30px;
}
.hide {
  display: none;
}
.routes {
margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: px;
}
.link {
  height: 50px;
  font-size: 1.5rem;
  display: flex;
  color: white;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
  margin-left: 3px;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  color: darkblue;
  border-right: 4px solid white;
background-color: #fff;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  color: darkblue;
background-color: #fff;
  border-right: 4px solid white;
  
}
.link_text {
  white-space: nowrap;
  font-size: 1.2rem;
 
  }

.menu {
  display: flex;
  color: white;
  padding: 10px 80px;
  padding-left: 16px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap:10px;
  
}
.menu_container {
  display: flex;
  flex-direction: column;

}
.menu_container .link {
  padding-left: 20px;
  border-bottom: #fff 0.5px solid;
} 


/* Login-page-css */
#login_container{
  display: flex;
}


#loginImg{
  max-width: 50vw;
  max-height: 100vh;
 }
 @media screen and (max-width: 480px) {
  #loginImg {
max-width: 95vw;
height: auto;

    }
}
#form_container{
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
 max-width: 50vw;
  
}
@media screen and (max-width: 480px) {
  #form_container {
width: 100vw;
height: auto;
margin-top: auto;

  }
}
#form_heading{
  margin-left: 2px;
  
}
#formInputs{
max-height: 4rem;
max-width: 30vw;
  border-radius: 25px;
  margin-top: 2rem;
  }
 @media screen and (max-width: 480px) {
  #formInputs {
    max-width: 95vw;
  margin-top: 1.5rem;
    }
}
#chechbox{
  display: flex;
  
}

#forgot_password_link{
  
margin-left: 180px;
color: #FD8473;
}
@media screen and (max-width: 480px) {
  #forgot_password_link {
    margin-left: auto;
    }
}

#loginbtn{
  height: 4rem;
width: 30vw;
  border-radius: 25px;
  margin-top: 1rem;
  background-color: #FD8473;
  border: #FD8473;
}
 @media screen and (max-width: 480px) {
  #loginbtn {
   width: 45vw;
    margin-top: 1rem;
    background-color: #FD8473;
    border: #FD8473;
  
    }
}

/* Forgot-page-css */
#Forgotimg{
  max-height: 100vh;
  max-width: 50vw;
}
@media screen and (max-width: 480px) {
  #Forgotimg {
    max-width: 95vw;
    height: auto;
  }
    }
#forgot_formcontainer{
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
 max-width: 50vw;
 
 }
 @media screen and (max-width: 480px) {
  #forgot_formcontainer {
width: 100vw;
height: auto;
margin-top: auto;

  }
}
#forgotform_heading{
  margin-left: 2px;
  
}

 #ForgotInputfields{
  max-height: 4rem;
  max-width: 30vw;
    border-radius: 25px;
    margin-top: 2rem;
 }
 @media screen and (max-width: 480px) {
  #ForgotInputfields {
    max-width: 95vw;
  margin-top: 1.5rem;
    }
}


#sendotp_btn{
  height: 4rem;
width:30vw;
  border-radius: 25px;
  margin-top: 2rem;
  background-color: #FD8473;
  border: #FD8473;
}
@media screen and (max-width: 480px) {
  #sendotp_btn {
   width: 45vw;
    margin-top: 1rem;
    background-color: #FD8473;
    border: #FD8473;
  
    }
}

/*OTP.jsx-page-css */


#OTPimg{
  max-height: 100vh;
  max-width: 70vw;
}
@media screen and (max-width: 480px) {
  #OTPimg {
    max-width: 95vw;
    height: auto;
  }
    }

 #OTPForm_container{
 margin-top: auto;
    margin-bottom: auto;
    height: auto;
   max-width: 50vw;
   
   }
   @media screen and (max-width: 480px) {
    #OTPForm_container {
  width: 100vw;
  height: auto;
  margin-top: auto;
  
    }
  }
  #form_heading{
    margin-left: 0px;
  }
  #OTP_inputfields{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
 #resendOtp_link{
  color: #FD8473;

 }
 #ConfirmOTPbtn{
  height: 4rem;
  width: 27vw;
    border-radius: 25px;
    margin-top: 3rem;
    background-color: #FD8473;
    border: #FD8473;
 }
 @media screen and (max-width: 480px) {
  #ConfirmOTPbtn {
   width: 45vw;
    margin-top: 1rem;
    background-color: #FD8473;
    border: #FD8473;
  
    }
}

/* reset-password-css */
#reset_container{
  display: flex;
}
#resetimg{
  max-width: 50vw;
  max-height: 100vh;
}
@media screen and (max-width: 480px) {
  #resetimg {
    max-width: 95vw;
    height: auto;
  }
    }
#reset_formcontainer{
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
 max-width: 50vw;
}
@media screen and (max-width: 480px) {
  #reset_formcontainer {
width: 100vw;
height: auto;
margin-top: auto;

  }
}
#form_heading{
  margin-left: 0px;
}
#ResetInputfields{
  max-height: 4rem;
  max-width: 30vw;
    border-radius: 25px;
    margin-top: 2rem;
}
@media screen and (max-width: 480px) {
  #ResetInputfields {
    max-width: 95vw;
  margin-top: 1.5rem;
    }
}
#ConfirmPassword_btn{
  height: 4rem;
  width:30vw;
    border-radius: 25px;
    margin-top: 2rem;
    background-color: #FD8473;
    border: #FD8473;
}
@media screen and (max-width: 480px) {
  #ConfirmPassword_btn {
   width: 45vw;
    margin-top: 1rem;
    background-color: #FD8473;
    border: #FD8473;
  
    }
}

/* Dashboard css */
#header{
  margin-top: auto;
  width: 100%;
  height: 4.5rem;
  background-color: rgba(135, 207, 235, 0.381);
}
#search-bar{
 
  height: 1.5rem;
  width: 15rem;
  text-align: left;
  border-radius: 30px;
  border: none;
 

}
#header-icons{
display: flex;
align-items: center;
align-content: center;
}
#logout-icon{
height:3vh;
margin-top: 0px;

}
#notification-icon{
  margin-top: 0px;
 height:3vh;

}
#cards{
  background-color: #FD8473;
  border-radius: 30px;
}
@media screen and (max-width: 480px) {
  #cards {
    align-content: center;
max-width:220px ;
max-height: 120px;
text-align: justify;
  
    }
}
.card-title{
  font-size: 3rem;
}
@media screen and (max-width: 480px) {
  .card-title{
  font-size: 2rem;
margin-top:-2.7rem;
}
}

#QR_heading_container{
  margin-top: 2rem;
}
.underline {
  margin-left: 4rem;
  margin-right: 4rem;
  width: auto;
  height: 0.1rem;
background-color:#FD8473;
}
#QRicon{
  height:25px;
  width:25px;
  margin-right: .5rem;
  }
#QRtext{
  font-size: 25px;
  margin-left: 4rem;
  display: flex;
  
  }
#shareicon{
  margin-right: 4rem;
  height:25px;
  width:25px;


 }
#QRmain_container{
  margin-right: 2rem;
  margin-left: 2rem;
  width: auto;
  height: auto;
  background-color:#F5FAFD;
}
#form{
  margin-left: 4rem;
}
#lables{
  margin-top: 2rem;
  margin-left: .5rem;
}
#QR_form_inputs{

  width: 30vw;
  height: 4rem;
  border-radius: 20px;
   }
   @media screen and (max-width: 480px) {
   #QR_form_inputs{
  width: 55vw;
  }
  }
  #QRbtn{
    margin-top: 2.5rem;
    margin-left: 4rem;
    font-size: large;
  border: none;
  width: 15vw;
  height: 4rem;
  background-color: #FD8473;
  color: #fff;
  border-radius: 20px;
  margin-bottom: 2rem;
  }

#contact_container{
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  width: auto;
  height: auto;
  background-color:#F5FAFD;
 }
 #contact_form{
  margin-left: 4rem;
 }
#heading{
  font-size: 1.3rem;
  margin-left: 1rem;
}
#Cont_form_inputs{
  width: 30vw;
  height: 4rem;
  border-radius: 20px;
}

#cont_mssg_inputs{
  width: 30vw;
  height: 5.5rem;
  border-radius: 20px;
}
#submit_btn{
  background-color: #FD8473;
  border: none;
  border-radius: 20px;
  margin-top: 2.5rem;
  width: 15vw;
  height: 4rem;
}

#contact_card{
 margin-top: 20px;
  border-radius: 60px;
  color: white;
  background-color: #002154;
}
#underline{
  width: auto;
  height: 0.1rem;
margin-top: 6px;
margin-bottom: 25px;
background-color:white;
}
.card-body{
 margin-top: 2rem;
  padding-left: 40px;
  padding-right: 40px;
}
.card-title{
  font-size: 2.0rem;
}
#card-text{
  margin-left: 5px;
  margin-top: 1px;
  
}

#mailicon{
margin-right: 15px;
height: 18px;
width: 18px;

}
#phonicon{
  margin-top: 1px;
  margin-right: 14px;
  height: 18px;
  width: 18px;
}
#clockicon{
margin-right: 14px;
height: 18px;
width: 18px;
}


.
/* .notification-logout-icon{
  display: flex;
} */
.col-4{
  margin-left: auto;
}

